---
layout: default
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126809084-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126809084-1');
</script>

{% assign trans = site.data.values[site.lan] %}
{% for post in paginator.posts %}
<div class="well article">

    <span class="post-date">
        <!--
        {% assign d = post.date | date: "%d" | plus:'0' %}
        {{ post.date | date: "%B" }}
        {% case d %}
        {% when 1 or 21 or 31 %}{{ d }}st,
        {% when 2 or 22 %}{{ d }}nd,
        {% when 3 or 23 %}{{ d }}rd,
        {% else %}{{ d }}th,
        {% endcase %}
        {{ post.date | date: "%Y" }}
        -->
        {% assign date_format = site.date_format.title %}
        {{ post.date | date: date_format }}
    </span>
    
    <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    
    <div class="post-description">
        {{ post.description }}
    </div>
    
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">{{ trans.page }}: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>

<a title="Real Time Web Analytics" href="http://clicky.com/101143966"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101143966); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101143966ns.gif" /></p></noscript>